# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IdeaProjects\BaoXiuAppMain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# 取消上传密钥
/../../../../:\IdeaProjects\BaoXiuAppMain\estate-bg-manage\src\main\resources\5459475_bbxc.xyz.pfx